rsource "../../../../runtime/esp_idf/espectre_config/Kconfig.projbuild"

menu "ESPectre Matter"

config ESPECTRE_MATTER_NODE_LABEL
    string "Matter node label"
    default "ESPectre Matter"
    help
        Node label exposed through the Matter Basic Information cluster.

endmenu
