name: ESPHome firmware Build

on:
  workflow_dispatch:
    inputs:
      file:
        description: "esphome config.yaml path"
        required: true
        default: "examples/airm2m_core_esp32c3.yaml"
        type: choice
        options:
          - "examples/espectre-c3.yaml"
          - "examples/espectre-c5.yaml"
          - "examples/espectre-c6.yaml"
          - "examples/espectre-esp32.yaml"
          - "examples/espectre-s2.yaml"
          - "examples/espectre-s3.yaml"
      commit:
        description: "commit"
        required: false
        default: "main"
      

jobs:
  setup-cache:
    name: Setup Build Cache
    runs-on: ubuntu-latest
    outputs:
      cache-hit: ${{ steps.cache.outputs.cache-hit }}
    
    steps:
      - uses: actions/checkout@v6
      
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
          cache: 'pip'
      
      - name: Cache PlatformIO
        id: cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.platformio
            ~/.esphome/cache
          key: pio-espidf-${{ hashFiles('components/espectre/**') }}
          restore-keys: |
            pio-espidf-
      
      - name: Install ESPHome and warm cache
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          python -m pip install --upgrade pip
          pip install esphome
  build:
    runs-on: ubuntu-latest
    needs: setup-cache
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'
          
      - name: Restore PlatformIO Cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.platformio
            ~/.esphome/cache
          key: pio-espidf-${{ hashFiles('components/espectre/**') }}
          restore-keys: |
            pio-espidf-
            
      - name: Install ESPHome
        run: |
          python -m pip install --upgrade pip
          pip install esphome

      - name: Update commit hash in config
        run: |
          cp ${{ github.event.inputs.file }} ${{ github.event.inputs.file }}.backup
          COMMIT_HASH="${{ github.event.inputs.commit  || 'main' }}"
          sed -i "s|ref: .*|ref: ${COMMIT_HASH}|" ${{ github.event.inputs.file }}
          grep "ref:" ${{ github.event.inputs.file }}
          
      - name: Config validation
        run: esphome config  ${{ inputs.file }}

      - name: Compile ESPHome Binary
        run: esphome compile ${{ inputs.file }}
        env:
          COMMIT_HASH: ${{ inputs.commit }}

      - name: find bin and rename
        run: |
          mkdir -p output
          find examples/.esphome/build -name "firmware*.bin" -exec cp {} output/ \;
          FULL_PATH="${{ github.event.inputs.file }}"
          FILENAME_WITH_EXT="${FULL_PATH##*/}"
          PURE_FILENAME="${FILENAME_WITH_EXT%.yaml}"
          mv "output/firmware.factory.bin" "output/${PURE_FILENAME}-${{ github.event.inputs.commit }}.factory.bin"
          mv "output/firmware.ota.bin" "output/${PURE_FILENAME}-${{ github.event.inputs.commit }}.ota.bin"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: firmware-${{ inputs.commit }}
          path: output/
          if-no-files-found: error
